html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #bde0fe;
    overflow: hidden;
}

#snowContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -10px;
    opacity: 0.8;
    --endY: 50vh;
    z-index: 1;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    15% {
        transform: translate(-10px, calc(var(--endY) * 0.15)) rotate(60deg);
    }
    30% {
        transform: translate(-5px, calc(var(--endY) * 0.3)) rotate(120deg);
    }
    45% {
        transform: translate(0px, calc(var(--endY) * 0.45)) rotate(180deg);
    }
    60% {
        transform: translate(5px, calc(var(--endY) * 0.6)) rotate(240deg);
    }
    75% {
        transform: translate(10px, calc(var(--endY) * 0.75)) rotate(300deg);
        opacity: 1;
    }
    100% {
        transform: translate(15px, var(--endY)) rotate(360deg);
        opacity: 0;
    }
}
